/node_modules
# /unpackage
/dist
.idea
.vscode
.qoder
        
.DS_Store
.npm-cache

# 配置 仅放开 unpackage/dist/build/web/ 目录
unpackage/cache
unpackage/dist/*
!unpackage/dist/build/
unpackage/dist/build/*
!unpackage/dist/build/web/