.page {
  background-color: #FFF;
  width: 750rpx;
  flex: 1;
}

.tip {
  margin:0 15px;
  font-size: 14px;
}

.form {
  margin:10px 50rpx 0 50rpx;
}

.my-input {
  margin-top:12px;
}

.agreements-box {
  padding:8px 0;
}

.uni-btn{
  width: 648rpx;
  margin:8px 0;
}
