@font-face {
  font-family: "iconfont"; /* Project id 4999791 */
  src: url('@/static/iconfont/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e633";
}

.icon-Brush:before {
  content: "\e634";
}

.icon-branch:before {
  content: "\e635";
}

.icon-a-Arrowdown:before {
  content: "\e636";
}

.icon-Globe:before {
  content: "\e621";
}

.icon-keyboard:before {
  content: "\e622";
}

.icon-Heart:before {
  content: "\e623";
}

.icon-a-Filetext:before {
  content: "\e624";
}

.icon-a-Chevronleft:before {
  content: "\e625";
}

.icon-List:before {
  content: "\e626";
}

.icon-Grid:before {
  content: "\e627";
}

.icon-Folder:before {
  content: "\e628";
}

.icon-Home:before {
  content: "\e629";
}

.icon-Clock:before {
  content: "\e62a";
}

.icon-bell:before {
  content: "\e601";
}

.icon-Edit:before {
  content: "\e62b";
}

.icon-Copy:before {
  content: "\e62c";
}

.icon-a-Chevronright:before {
  content: "\e62d";
}

.icon-a-Chevrondown:before {
  content: "\e62e";
}

.icon-Calendar:before {
  content: "\e62f";
}

.icon-bulb:before {
  content: "\e630";
}

.icon-a-Checkcircle:before {
  content: "\e631";
}

.icon-a-Chevronup:before {
  content: "\e632";
}

.icon-Star:before {
  content: "\e610";
}

.icon-Share:before {
  content: "\e611";
}

.icon-Search:before {
  content: "\e612";
}

.icon-Sidebar:before {
  content: "\e613";
}

.icon-stop:before {
  content: "\e614";
}

.icon-Qrcode:before {
  content: "\e615";
}

.icon-send:before {
  content: "\e616";
}

.icon-Link:before {
  content: "\e603";
}

.icon-More:before {
  content: "\e617";
}

.icon-layout:before {
  content: "\e618";
}

.icon-notification-box:before {
  content: "\e619";
}

.icon-Puzzle:before {
  content: "\e61a";
}

.icon-Loader:before {
  content: "\e61b";
}

.icon-message-add:before {
  content: "\e61c";
}

.icon-Plus:before {
  content: "\e61d";
}

.icon-Info:before {
  content: "\e61e";
}

.icon-Mic:before {
  content: "\e61f";
}

.icon-cube:before {
  content: "\e602";
}

.icon-Menu:before {
  content: "\e620";
}

.icon-stars:before {
  content: "\e606";
}

.icon-seal:before {
  content: "\e605";
}

.icon-User:before {
  content: "\e607";
}

.icon-X:before {
  content: "\e608";
}

.icon-a-trashcan:before {
  content: "\e609";
}

.icon-voice:before {
  content: "\e60a";
}

.icon-wrench:before {
  content: "\e60b";
}

.icon-a-Xcircle:before {
  content: "\e60c";
}

.icon-message:before {
  content: "\e604";
}

.icon-a-Xcircle-fill:before {
  content: "\e60d";
}

.icon-Star-fill:before {
  content: "\e60e";
}

.icon-settings:before {
  content: "\e60f";
}

