/* Agent Detail 页面样式 */

.agent-detail-container {
	height: 100%;
	display: flex;
	padding-top: env(safe-area-inset-top);

	.right-buttons {
		display: flex;
		flex-direction: row;
		.iconfont {
			margin: 0 15rpx;
		}
	}

	.content {
		flex: 1;
		padding: 32rpx;

		.title-section {
			margin-bottom: 40rpx;

			.subtitle {
				font-size: 32rpx;
				font-weight: 400;
				color: rgba(21, 23, 31, 1);
				line-height: 48rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}

	.chat-container {
		flex: 1;

		.scroll-view-box {
			flex: 1;
			position: relative;
			
			.msg-list {
				flex: 1;
				gap: 48rpx;
				padding: 16rpx 0;
				
				.user-msg {
					font-size: 16px;
					margin-left: auto;
					margin-right: 32rpx;
					// margin-bottom: 16rpx;
					max-width: 600rpx;
					padding: 32rpx;
					border-radius: 24rpx 0 24rpx 24rpx;
					background: rgba(12, 20, 102, 0.12);
					color: #15171F;
					font-size: 32rpx;
					font-weight: 400;
					line-height: 48rpx;
					
					/* #ifdef WEB */
					cursor: text;
					user-select: text;
					white-space: pre-wrap;
					word-break: break-all;
					/* #endif */
				}
			}
			
			.scroll-to-bottom {
				position: absolute;
				bottom: 10px;
				right: 10px;
				width: 35px;
				height: 35px;
				justify-content: center;
				align-items: center;
				background-color: #FFF;
				border-radius: 50px;
				padding: 5px;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
				z-index: 10;
				
				/* #ifdef APP-HARMONY */
				border: 1px solid #efefef;
				/* #endif */
			}
		}
	}
}
