/* APP-ANDROID：KaTeX 字体（@font-face 仅 font-family + src） */

@font-face {
  font-family: KaTeX_AMS;
  src: url(/subpackages/static/fonts/KaTeX_AMS-Regular.ttf) format("truetype");
}

@font-face {
  font-family: KaTeX_Main;
  src: url(/subpackages/static/fonts/KaTeX_Main-Regular.ttf) format("truetype");
}

@font-face {
  font-family: KaTeX_Main_Bold;
  src: url(/subpackages/static/fonts/KaTeX_Main-Bold.ttf) format("truetype");
}

@font-face {
  font-family: KaTeX_Math;
  src: url(/subpackages/static/fonts/KaTeX_Math-Italic.ttf) format("truetype");
}

@font-face {
  font-family: KaTeX_Size1;
  src: url(/subpackages/static/fonts/KaTeX_Size1-Regular.ttf) format("truetype");
}

@font-face {
  font-family: KaTeX_Size2;
  src: url(/subpackages/static/fonts/KaTeX_Size2-Regular.ttf) format("truetype");
}
