// 文字超出隐藏
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

// 获取剩余的空间
.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.content-around {
  justify-content: space-around;
}

.content-end {
  justify-content: flex-end;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-6 {
  margin-right: 6px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-6 {
  margin-bottom: 6px;
}

.radius-6 {
  border-radius: 6px;
}

.radius-10 {
  border-radius: 10px;
}

.font-24 {
  font-size: 24rpx;
}

.font-28 {
  font-size: 28rpx;
}

.font-32 {
  font-size: 32rpx;
}

.font-48 {
  font-size: 48rpx;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-disabled {
  cursor: not-allowed;
}

.overflow-y {
  overflow: auto;
}

.overflow-hide {
  overflow: hidden;
}

.visible-hide {
  visibility: hidden;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.user-select-none {
  user-select: none;
}

.clip-path-animation {
  clip-path: inset(0 50% 0 50%); /* 初始状态，裁剪掉左右两边 */
  animation: unfold 2s forwards; /* 应用动画 */
}

@keyframes unfold {
  0% {
    clip-path: inset(0 50% 0 50%);
  }

  50% {
    clip-path: inset(0 25% 0 25%);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}
